<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Produtoras | CineBook</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>CineBook</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
        </nav>
    </header>
    <main>
        <h2>Produtoras Populares</h2>
        <ul>
            {% for producer in producers %}
            <li><a href="{{ url_for('producer_movies', producer_id=producer.id) }}">{{ producer.name }}</a></li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
